<footer class="site-footer bg-dark">
    <div class="container">

      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="post-image.html#">Privacy policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="post-image.html#">Terms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="post-image.html#">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="post-image.html#">Advertise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="page-contact.html">Contact</a>
        </li>
      </ul>
      <div class="copy">
        &copy; Milo 2022<br />
        All rights reserved
      </div>
    </div>
  </footer>
